In [51]:
train_file_path = r"C:\Users\91973\Downloads\ML_Projects\Machine-Learning-Project\housing\artifact\data_ingestion\2023-02-21-17-50-40\ingested_data\train\housing.csv"

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv(train_file_path)

In [54]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [55]:
df.shape

(16512, 10)

In [56]:
x, y = df.drop(columns=['median_house_value']), df[['median_house_value']]

In [57]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [58]:
from sklearn.impute import SimpleImputer

In [59]:
numerical_column = x.drop(columns=["ocean_proximity"], axis=1)

In [60]:
simple_imputer = SimpleImputer(strategy="median")

In [61]:
df = simple_imputer.fit_transform(numerical_column)

In [62]:
simple_imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [63]:
simple_imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [64]:
x.longitude.median

<bound method Series.median of 0       -121.46
1       -117.23
2       -119.04
3       -117.13
4       -118.70
          ...
16507   -117.07
16508   -121.42
16509   -122.72
16510   -122.70
16511   -122.14
Name: longitude, Length: 16512, dtype: float64>

In [65]:
simple_imputer = SimpleImputer(strategy="most_frequent")

In [66]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [67]:
num_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy="median")),
    ('scaling', StandardScaler(with_mean=False))
])

In [68]:
from sklearn.preprocessing import OneHotEncoder

In [69]:
df = pd.read_csv(train_file_path)

In [70]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [71]:
num_column_name = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income']

cat_column_name = ['ocean_proximity']

In [72]:
cat_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy="most_frequent")),
    ('oneHotEncoder', OneHotEncoder())
])

In [73]:
preprocessing = ColumnTransformer([
    ('num_pipeline', num_pipeline, num_column_name),
    ('cat_pipeline', cat_pipeline, cat_column_name),
])

In [74]:
preprocessing.fit_transform(df)

array([[-60.67637885,  18.01769717,   2.30626612, ...,   0.        ,
          0.        ,   0.        ],
       [-58.56324628,  15.4778193 ,   0.55668493, ...,   0.        ,
          0.        ,   1.        ],
       [-59.46744721,  16.54428736,   3.4991624 , ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [-61.3058226 ,  17.98027724,   3.81726807, ...,   0.        ,
          0.        ,   0.        ],
       [-61.29583143,  17.91946985,   1.11336985, ...,   0.        ,
          0.        ,   0.        ],
       [-61.01607865,  18.69593344,   2.14721329, ...,   0.        ,
          0.        ,   0.        ]])

In [75]:
test_data_path = r"C:\Users\91973\Downloads\ML_Projects\Machine-Learning-Project\housing\artifact\data_ingestion\2023-02-21-17-50-40\ingested_data\test\housing.csv"

In [76]:
test_df = pd.read_csv(test_data_path)

In [77]:
preprocessing.transform(test_df)

array([[-59.14273417,  15.95960092,   2.30626612, ...,   0.        ,
          0.        ,   0.        ],
       [-60.15683798,  16.31976777,   1.90863403, ...,   0.        ,
          0.        ,   0.        ],
       [-59.17270768,  16.02040831,   2.86295105, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [-59.80714701,  16.10928065,   3.41963598, ...,   0.        ,
          0.        ,   0.        ],
       [-58.90294608,  15.73040384,   2.38579254, ...,   0.        ,
          0.        ,   0.        ],
       [-59.22765912,  15.99234336,   2.86295105, ...,   0.        ,
          0.        ,   0.        ]])

In [78]:
import dill

In [79]:
with open('preprocessing.pk1', 'wb') as prep_obj:
    dill.dump(preprocessing, prep_obj)

In [80]:
with open('preprocessing.pk1', 'rb') as file_obj:
    preprocessing_loaded_obj = dill.load(file_obj)

In [81]:
preprocessing_loaded_obj.transform(test_df)

array([[-59.14273417,  15.95960092,   2.30626612, ...,   0.        ,
          0.        ,   0.        ],
       [-60.15683798,  16.31976777,   1.90863403, ...,   0.        ,
          0.        ,   0.        ],
       [-59.17270768,  16.02040831,   2.86295105, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [-59.80714701,  16.10928065,   3.41963598, ...,   0.        ,
          0.        ,   0.        ],
       [-58.90294608,  15.73040384,   2.38579254, ...,   0.        ,
          0.        ,   0.        ],
       [-59.22765912,  15.99234336,   2.86295105, ...,   0.        ,
          0.        ,   0.        ]])