In [5]:
url = 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz'

In [6]:
import os
os.path.basename(url)

'housing.tgz'

In [7]:
csv_file_path = r"C:\Users\91973\Downloads\ML_Projects\Machine-Learning-Project\housing\artifact\data_ingestion\2023-02-19-11-22-27\raw_data\housing.csv"

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(csv_file_path)

In [10]:
import matplotlib.pyplot as plt

In [11]:
df[['median_income']]

       median_income
0             8.3252
1             8.3014
2             7.2574
3             5.6431
4             3.8462
...              ...
20635         1.5603
20636         2.5568
20637         1.7000
20638         1.8672
20639         2.3886

[20640 rows x 1 columns]

In [18]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object